@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary: #eeeeee;
    --secondary: #666666;
    --background: #1f1e2e;
    --background-secondary: #222222;

    --old-primary: #eeeeee;
    --old-secondary: #555;
    --old-background: #111111;
    --old-background-secondary: #222222;
}

#divider {
    color: var(--primary);
    margin: 0 0.4rem;
}

body {
  color: var(--primary);
  font-family: ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: var(--background); /* #000000;*/
  /*border-bottom: 1px solid #a1a1a1;*/
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1rem;
}


.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
  margin-right: 0px;
}

.logo, .battery, .tiling-direction {
    display: none;
}

.battery, .date {
    padding: 0.2rem 0.5rem;
    color: var(--primary);
    border-radius: 0.3rem;
}




.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: var(--background);
  margin-right: 4px;
  padding: 3px 6px;
  color: var(--secondary);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    background: var(--background);
    color: var(--primary);
  }

  &.focused,
  &:hover {
    background: var(--background);
    color: var(--primary);
  }
}

.binding-mode,
.tiling-direction {
  background: rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

i {
  color: rgb(255 255 255 / 90%);
  margin-right: 7px;
}
