/* Balsamiq Sans                             */@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Ubuntu                                    */@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #080808;
    color: #fff;
    margin: 0;
    padding: 0;
} hr {
    border: 1.25px solid #252525;
}

details {
    border: 2.5px solid #252525;
    background-color: #0e0e0e;
    padding: 0.5em;
    margin: 0.75rem;
}
details summary {cursor: pointer;}
details:hover {
    transform: translateY(-3px); 
    transition: 100ms ease-in-out;
    box-shadow: 0 3px 0px 0px #252525;
}
details:active {
    transform: translateY(0px); 
    transition: 100ms ease-in-out;
    box-shadow: 0 0px 0px 0px #252525;
}
details details {
    margin-left: 0;
    margin-right: 0;
}

#d-title {
    display: inline;
}#dd-content {
    border-top: 2.5px solid #252525; 
    margin-top: 0.5rem;
}#d-content {
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    border-top: 2.5px solid #252525;
}
#d-content::after {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero."
}

#dd-title::after {
    content: "weights ";
}


















.b100   {font-weight: 100; font-style: normal;}   .b100:after {content: "Weight: 100";}
.b100i  {font-weight: 100; font-style: italic;}   .b100i:after {content: "Weight: 100 (italic)";}
.b200   {font-weight: 200; font-style: normal;}   .b200:after {content: "Weight: 200";}
.b200i  {font-weight: 200; font-style: italic;}   .b200i:after {content: "Weight: 200 (italic)";}
.b300   {font-weight: 300; font-style: normal;}   .b300:after {content: "Weight: 300";}
.b300i  {font-weight: 300; font-style: italic;}   .b300i:after {content: "Weight: 300 (italic)";}
.b400   {font-weight: 400; font-style: normal;}   .b400:after {content: "Weight: 400";}
.b400i  {font-weight: 400; font-style: italic;}   .b400i:after {content: "Weight: 400 (italic)";}
.b500   {font-weight: 500; font-style: normal;}   .b500:after {content: "Weight: 500";}
.b500i  {font-weight: 500; font-style: italic;}   .b500i:after {content: "Weight: 500 (italic)";}
.b600   {font-weight: 600; font-style: normal;}   .b600:after {content: "Weight: 600";}
.b600i  {font-weight: 600; font-style: italic;}   .b600i:after {content: "Weight: 600 (italic)";}
.b700   {font-weight: 700; font-style: normal;}   .b700:after {content: "Weight: 700";}
.b700i  {font-weight: 700; font-style: italic;}   .b700i:after {content: "Weight: 700 (italic)";}
.b800   {font-weight: 800; font-style: normal;}   .b800:after {content: "Weight: 800";}
.b800i  {font-weight: 800; font-style: italic;}   .b800i:after {content: "Weight: 800 (italic)";}
.b900   {font-weight: 900; font-style: normal;}   .b900:after {content: "Weight: 900";}
.b900i  {font-weight: 900; font-style: italic;}   .b900i:after {content: "Weight: 900 (italic)";}
.b1000  {font-weight: 1000; font-style: normal;}  .b1000:after {content: "Weight: 1000";}
.b1000i {font-weight: 1000; font-style: italic;}  .b1000i:after {content: "Weight: 1000 (italic)";}

